html,
body,
.app,
.timer {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.fg-red {
  color: red;
}

.fg-green {
  color: green;
}

.app {
  height: 100vh;
}

.page-title {
  margin: 0;
  padding: 8px 16px;
  text-align: center;
}

.timer {
  padding: 16px;
  font-weight: 500;
  font-size: 2rem;
}
